<h3>予約済み施設一覧</h3>

<table>
    <thead>
        <tr>
            <th>画像</th>
            <th>施設名</th>
            <th>施設紹介</th>
            <th>合計金額</th>
            <th>チェックイン日</th>
            <th>チェックアウト日</th>
            <th>予約確定日時</th>
        </tr>
    </thead>
    <tbody>
    <% @reservations.each do |r| %>
        <tr>
            <td><%= image_tag r.room.room_image.url, class: "room-image" %></td>
            <td><%= r.room.name %></td>
            <td><%= r.room.introduction %></td>
            <td>¥<%= r.total_price %></td>
            <td><%= r.check_in.strftime("%Y/%m/%d") %></td>
            <td><%= r.check_out.strftime("%Y/%m/%d") %></td>
            <td><%= r.created_at.strftime("%Y/%m/%d %H:%M") %></td>
        </tr>
    <% end %>
    </tbody>
</table>
