<div class = "account-container">

  <h3>設定</h3>

  <div class = "account">
    <div class = "side-menu">
      <%= link_to "アカウント", users_account_path, class: "side-menu-item" %>
      <%= link_to "プロフィール", users_profile_path, class: "side-menu-item" %>
    </div>

    <div class = "account-info">
      <div class = "account-info-head">
        <h4>アカウント</h4>
      </div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "user-edit-form" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :password %> <i>(※変更する場合のみ)</i><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "user-edit-form" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> 文字以上</em>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "user-edit-form" %>
        </div>

        <div class="field">
          <%= f.label :current_password %><br />
          <%= f.password_field :current_password, autocomplete: "current-password", class: "user-edit-form" %>
        </div>

        <div class="actions">
          <%= f.submit "保存", class: "user-edit-button" %>
          <%= link_to "キャンセル", :back, class: "user-edit-cancel" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
